@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

html,
body {
  min-width: 24.375rem;
  min-height: 754px;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  font-family: 'Pretendard Variable', sans-serif;
}

@font-face {
  font-family: 'Waguri';
  src: url('public/fonts/Waguri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.custom-waguri-font {
  font-family: 'Waguri', sans-serif;
}

.custom-pretendard-font {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}
